
  <!-- Collapsable Card Example -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardActivity" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">My Activity</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardActivity">
      <div class="card-body" style="overflow: auto; height:350px;">

        <%  function formatDate(date) { %>
        <%  var d = new Date(date); %>
        <%  var month = '' + (d.getMonth() + 1); %>
        <%  var day = '' + d.getDate(); %>
        <%  var year = d.getFullYear();%>
        <%     var hour = '' + d.getHours(); %>
        <%     var minute = '' + d.getMinutes(); %>

        <%     if(hour.length < 2){ %>
        <%       hour = '0' + hour; %>
        <%     } %>

        <%     if(minute.length < 2){ %>
        <%       minute = '0' + minute; %>
        <%     } %>

        <%    if (month.length < 2){%>
        <%        month = '0' + month;%>
        <%      }%>
        <%    if (day.length < 2){%>
        <%        day = '0' + day;%>
        <%      }%>
        <%    return [day, month, year].join('-') + " Time : " + hour + ":" + minute ;%>
        <%    }%>

      <%  for(var i = 0 ; i < foundActivity.length ; i++){ %>
      <%  if(foundActivity[i].creator == user._id){ %>
          <table width="100%">
            <tr>
              <td><%=foundActivity[i].name %> (Admin)<br> <%=formatDate(foundActivity[i].dateTime) %></td>
              <td align="right">
                <a href="/activities/edit/<%=foundActivity[i]._id %>"><i class="far fa-edit"></i></a>
                <a href="/delete/activity/<%=foundActivity[i]._id %>"><i class="far fa-trash-alt"></i></a>
              </td>
            </tr>
          </table>
              <hr />
      <%  }else{ %>
          <table width="100%">
            <tr>
              <td><%=foundActivity[i].name %> <br> <%=formatDate(foundActivity[i].dateTime) %></td>
              <td align="right">
                <a href="/activities/<%=foundActivity[i]._id %>"><i class="fas fa-info-circle"></i></a>
                <a href="/leave/activity/<%=foundActivity[i]._id %>"><i class="fas fa-door-open"></i></a>
              </td>
            </tr>
          </table>
              <hr />
      <%  } %>

      <%  } %>


      </div>
    </div>
  </div>
