<div class="col-lg-3">
  <!-- Collapsable Card Example -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardGroup" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">My Group</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardGroup">
      <div class="card-body" style="overflow: auto; height:220px;">

      <%  for(var i = 0 ; i < foundGroup.length ; i++){ %>
      <%  if(foundGroup[i].admin == user._id){ %>
          <table width="100%">
            <tr>
              <td><%=foundGroup[i].name %> (Admin)</td>
              <td align="right">
                <a href="/groups/edit/<%=foundGroup[i]._id %>"><i class="far fa-edit"></i></a>
                <a href="/delete/group/<%=foundGroup[i]._id %>"><i class="far fa-trash-alt"></i></a>
              </td>
            </tr>
          </table>
              <hr />
      <%  }else{ %>
          <table width="100%">
            <tr>
              <td><%=foundGroup[i].name %></td>
              <td align="right">
                <a href="/groups/<%=foundGroup[i]._id %>"><i class="fas fa-info-circle"></i></a>
                <a href="/leave/group/<%=foundGroup[i]._id %>"><i class="fas fa-door-open"></i></a>
              </td>
            </tr>
          </table>
              <hr />
      <%  } %>

      <%  } %>


      </div>
    </div>
  </div>

</div>
