<%- include("topBar") -%>



                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <% if(user.type === "Dog Owner"){ %>
                      <div class="row">
                          <%- include("groupCard") -%>
                          <%- include("activityCard") -%>
                      </div>

                      <div class="row">
                        <%- include("trainingCard") -%>
                      </div>
                  <%  }else{ %>
                      <div class="row">
                        <%- include("trainingCard") -%>
                      </div>

                      <div class="row">
                        <%- include("eventCard") -%>
                      </div>

                <%    } %>



                </div>
                <!-- /.container-fluid -->


<%- include("bottomBar") -%>
