<%- include("topBarMain") -%>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <div style="padding-bottom:20px;" class="col-lg-12">
                      <div id="calendar"></div>
                    </div>



                      <% if(user.type === "Dog Owner"){ %>
                        <div class="row">
                            <%- include("groupCard") -%>
                            <%- include("activityCard") -%>
                                <div class="col-lg-6">
                                  <div id="map" ></div>
                                  <label id="distanceInfo"></label>
                                </div>



                        </div>


                        <div class="row">
                          <%- include("trainingCard") -%>

                        </div>




                    <%  }else{ %>
                        <div class="row">
                          <%- include("trainingCard") -%>
                          <%- include("eventCard") -%>
                          <div class="col-lg-6">
                            <div id="map" ></div>
                            <label id="distanceInfo"></label>
                          </div>

                        </div>

                  <%    } %>












                <input type="text"  style="display:none;" maxlength="30" id="address" style="width:80%" placeholder="<%- user.address %>" name="address" value="<%- user.address %>">

                </div>
                <!-- /.container-fluid -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADEpRHtEOhgdpt4OUefFTUhsxTH7wALSQ&libraries=places&callback=initMap&channel=GMPSB_addressselection_v1_cAB" async defer></script>
<!-- <script src="js/evo-calendar.js"></script> -->


<%- include("bottomBarMain") -%>
