<%- include("topBar") -%>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                <%  if(user.type === "Dog Owner"){ %>
                    <div class="form-group">

                      <div class="form-group">
                        <label>Username : <%= user.username %></label><br />
                        <label>Name : <%= user.name %></label>
                      </div>
                      <label>Email address : <%= user.email %></label>
                    </div>
                    <div class="form-group">
                      <label>Address : <%= user.address %></label> <br />
                      <label>Suburb : <%= user.suburb %></label> <br />
                      <label>Type : <%= user.type %></label>
                    </div>
                    <div class="form-group">
                      <label>Dog Name : <%= dogs[0].name %></label><br />
                      <label>Dog Breed : <%= dogs[0].breed %></label><br />
                      <label>Dog Size : <%= dogs[0].size %></label><br />
                      <label>Dog Weight : <%= dogs[0].weight %></label><br />
                      <label>Dog Age : <%= dogs[0].age %></label>
                    </div>

                    <a class="btn btn-primary" href="/" role="button">OK</a>

                <%  }else if(user.type === "Trainer"){ %>

                    <div class="form-group">

                      <div class="form-group">
                        <label>Username : <%= user.username %></label><br />
                        <label>Name : <%= user.name %></label>
                      </div>
                      <label>Email address : <%= user.email %></label>
                    </div>
                    <div class="form-group">
                      <label>Address : <%= user.address %></label> <br />
                      <label>Suburb : <%= user.suburb %></label> <br />
                      <label>Type : <%= user.type %></label>
                    </div>
                    <a class="btn btn-primary" href="/" role="button">OK</a>

                <%  } %>


                  </div>

                <!-- /.container-fluid -->
<%- include("bottomBar") -%>
