<%- include('header') %>

<div class="container mt-5">
  <h1>Registration Page</h1>



  <div class="card">
    <div class="card-body">



      <!-- Makes POST request to register route -->
      <form name="registerForm" action="/register" method="POST" autocomplete="off" onsubmit="return validateForm()" required>
        <div class="form-group">
          <p style="font-family: 'Ubuntu', sans-serif;">
            Are you a dog owner or a trainer ?
          </p>
          <div class="radioButton">
            <label><input style="margin-left:10px;" id="userTypeOption" type="radio" name="userType" value="Dog Owner" onclick="addDogField()">Dog Owner</label>
            <label><input style="margin-left:10px;" id="userTypeOption" type="radio" name="userType" value="Trainer" onclick="removeDogField()">Trainer</label>
          </div>
          <div class="form-group">
            <label for="userNameInput">Username</label>
            <input type="text" class="form-control" id="userNameInput" placeholder="Enter username" name="username" style="width:25%">
            <label for="NameInput">Name</label>
            <input type="text" pattern="[a-zA-Z\s]*" style="width:80%" title="Name should only contain letters." class="form-control" id="NameInput" placeholder="Enter name" name="name">

          </div>

          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" style="width:80%" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="addressInput">Address</label>
          <input type="text" class="form-control" id="addressInput" style="width:80%" placeholder="Enter Address" name="address">
        </div>
        <div class="form-group">
          <label for="cityInput">City</label>
          <select id="cityInput" name="city" onchange="suburbSelection(this.options[this.selectedIndex].value)" class="form-control" style="width:25%">
            <option disabled selected value="null"> -- select City -- </option>
            <option value="Auckland">Auckland</option>
            <option value="Wellington">Wellington</option>
            <option value="Christchurch">Christchurch</option>
          </select>
        </div>
        <div class="form-group">
          <label for="suburbInput">Suburb</label>
          <select id="suburbInput" name="suburb" class="form-control" style="width:25%">

          </select>
        </div>

        <div class="form-group">
          <label for="rangeInput" class="form-label">Please specify the distance you are willing to travel</label>
            <input type="range" class="form-range " min="1" max="5" id="rangeInput" style="width:80%" onchange="rangeValue()" value="3">
            <label class="form-label" id="distanceRange">1500 meters</label>
          <input type="text" class="form-control" id="distance" value="1500" name="distance" style="display:none; border: none;">
        </div>




        <div class="form-group" id="preferenceForm" style="display:none;">
          <label for="preferenceInput">Preference</label><br/>
          <div id="preferenceInput" class="dropdown-check-list" tabindex="100">
            <span class="anchor" onclick="dropdownChecklist()">Select Preferences</span>
            <ul class="items">
              <li><input type="checkbox" name="preferences[]" value="Affenpinscher"/>Affenpinscher </li>
              <li><input type="checkbox" name="preferences[]" value="Afghan Hound"/>Afghan Hound</li>
              <li><input type="checkbox" name="preferences[]" value="Africanis"/>Africanis </li>
              <li><input type="checkbox" name="preferences[]" value="Akita"/>Akita </li>
              <li><input type="checkbox" name="preferences[]" value="American Bulldog"/>American Bulldog </li>
              <li><input type="checkbox" name="preferences[]" value="Basque Shepherd Dog"/>Basque Shepherd Dog </li>
              <li><input type="checkbox" name="preferences[]" value="Basset Hound"/>Basset Hound</li>
              <li><input type="checkbox" name="preferences[]" value="Bichon Frise"/>Bichon Frise</li>
              <li><input type="checkbox" name="preferences[]" value="Bohemian Shepherd"/>Bohemian Shepherd </li>
              <li><input type="checkbox" name="preferences[]" value="Bulldog"/>Bulldog</li>
              <li><input type="checkbox" name="preferences[]" value="Carolina Dog"/>Carolina Dog </li>
              <li><input type="checkbox" name="preferences[]" value="Chihuahua"/>Chihuahua </li>
              <li><input type="checkbox" name="preferences[]" value="Dalmatian"/>Dalmatian </li>
              <li><input type="checkbox" name="preferences[]" value="Dingo"/>Dingo </li>
              <li><input type="checkbox" name="preferences[]" value="Dobermann"/>Dobermann</li>
              <li><input type="checkbox" name="preferences[]" value="Drever"/>Drever </li>
              <li><input type="checkbox" name="preferences[]" value="Dunker"/>Dunker</li>
              <li><input type="checkbox" name="preferences[]" value="English Mastiff"/>English Mastiff </li>
              <li><input type="checkbox" name="preferences[]" value="English Shepherd"/>English Shepherd </li>
              <li><input type="checkbox" name="preferences[]" value="Estonian Hound"/>Estonian Hound </li>
              <li><input type="checkbox" name="preferences[]" value="Finnish Hound"/>Finnish Hound </li>
              <li><input type="checkbox" name="preferences[]" value="French Bulldog"/>French Bulldog</li>
              <li><input type="checkbox" name="preferences[]" value="German Hound"/>German Hound </li>
              <li><input type="checkbox" name="preferences[]" value="German Shepherd"/>German Shepherd</li>
              <li><input type="checkbox" name="preferences[]" value="Himalayan Sheepdog"/>Himalayan Sheepdog </li>
              <li><input type="checkbox" name="preferences[]" value="Hierran Wolfdog"/>Hierran Wolfdog </li>
              <li><input type="checkbox" name="preferences[]" value="Indian Spitz"/>Indian Spitz </li>
              <li><input type="checkbox" name="preferences[]" value="Italian Greyhound"/>Italian Greyhound </li>
              <li><input type="checkbox" name="preferences[]" value="Japanese Spitz"/>Japanese Spitz</li>
              <li><input type="checkbox" name="preferences[]" value="Kai Ken"/>Kai Ken </li>
              <li><input type="checkbox" name="preferences[]" value="Kaikadi"/>Kaikadi</li>
              <li><input type="checkbox" name="preferences[]" value="Labrador Retriever"/>Labrador Retriever </li>
              <li><input type="checkbox" name="preferences[]" value="Lithuanian Hound"/>Lithuanian Hound </li>
              <li><input type="checkbox" name="preferences[]" value="Maltese"/>Maltese </li>
              <li><input type="checkbox" name="preferences[]" value="Mountain Cur"/>Mountain Cur </li>
              <li><input type="checkbox" name="preferences[]" value="New Zealand Heading"/>New Zealand Heading</li>
              <li><input type="checkbox" name="preferences[]" value="Otterhound"/>Otterhound </li>
              <li><input type="checkbox" name="preferences[]" value="Papillon"/>Papillon </li>
              <li><input type="checkbox" name="preferences[]" value="Patagonian Sheepdog"/>Patagonian Sheepdog </li>
              <li><input type="checkbox" name="preferences[]" value="Pekingese"/>Pekingese </li>
              <li><input type="checkbox" name="preferences[]" value="Pointer"/>Pointer</li>
              <li><input type="checkbox" name="preferences[]" value="Poitevin"/>Poitevin </li>
              <li><input type="checkbox" name="preferences[]" value="Poodle"/>Poodle</li>
              <li><input type="checkbox" name="preferences[]" value="Pudelpointer"/>Pudelpointer </li>
              <li><input type="checkbox" name="preferences[]" value="Pug"/>Pug </li>
              <li><input type="checkbox" name="preferences[]" value="Pungsan"/>Pungsan </li>
              <li><input type="checkbox" name="preferences[]" value="Rottweiler"/>Rottweiler </li>
              <li><input type="checkbox" name="preferences[]" value="Russian Spaniel"/>Russian Spaniel</li>
              <li><input type="checkbox" name="preferences[]" value="Ryukyu Inu"/>Ryukyu Inu</li>
              <li><input type="checkbox" name="preferences[]" value="Shiba Inu"/>Shiba Inu </li>
              <li><input type="checkbox" name="preferences[]" value="Shih Tzu"/>Shih Tzu</li>
              <li><input type="checkbox" name="preferences[]" value="Siberian Husky"/>Siberian Husky </li>
              <li><input type="checkbox" name="preferences[]" value="Taigan"/>Taigan </li>
              <li><input type="checkbox" name="preferences[]" value="Tamaskan Dog"/>Tamaskan Dog </li>
              <li><input type="checkbox" name="preferences[]" value="Weimaraner"/>Weimaraner </li>
              <li><input type="checkbox" name="preferences[]" value="Welsh Sheepdog"/>Welsh Sheepdog</li>
              <li><input type="checkbox" name="preferences[]" value="Whippet"/>Whippet </li>
              <li><input type="checkbox" name="preferences[]" value="Yakultian Laika"/>Yakultian Laika </li>
              <li><input type="checkbox" name="preferences[]" value="Other"/>Other</li>
            </ul>
          </div>
        </div>



        <div class="form-group dogForm" id="dogForm">
          <div class="form-group dogInner" id="dogInner">
            <div class="form-group dogRegistration" id="dogRegistration">
              <label for="dogName">Dog</label>
              <input type="text" class="form-control" id="dogsName" placeholder="Name" name="dogsName1" style="width:80%">
              <label for="dogsBreed">Breed</label>
              <select id="dogBreed" name="dogsBreed1" class="form-control" placeholder="Breed" style="width:25%">
                <option value="Affenpinscher" selected>Affenspinscher</option>
                <option value="Afghan Hound">Afghan Hound</option>
                <option value="Africanis">Africanis</option>
                <option value="Akita">Akita</option>
                <option value="American Bulldog">American Bulldog</option>
                <option value="Basque Shepherd Dog">Basque Shepherd Dog</option>
                <option value="Basset Hound">Basset Hound</option>
                <option value="Bichon Frise">Bichon Frise</option>
                <option value="Bohemian Shepherd">Bohemian Shepherd</option>
                <option value="Bulldog">Bulldog</option>
                <option value="Carolina Dog">Carolina Dog</option>
                <option value="Chihuahua">Chihuahua</option>
                <option value="Dalmatian">Dalmatian</option>
                <option value="Dingo">Dingo</option>
                <option value="Dobermann">Dobermann</option>
                <option value="Drever">Drever</option>
                <option value="Dunker">Dunker</option>
                <option value="English Mastiff">English Mastiff</option>
                <option value="English Shepherd">English Shepherd</option>
                <option value="Estonian Hound">Estonian Hound</option>
                <option value="Finnish Hound">Finnish Hound</option>
                <option value="French Bulldog">French Bulldog</option>
                <option value="German Hound">German Hound</option>
                <option value="German Shepherd">German Shepherd</option>
                <option value="Himalayan Sheepdog">Himalayan Sheepdog</option>
                <option value="Hierran Wolfdog">Hierran Wolfdog</option>
                <option value="Indian Spitz">Indian Spitz</option>
                <option value="Italian Greyhound">Italian Greyhound</option>
                <option value="Japanese Spitz">Japanese Spitz</option>
                <option value="Kai Ken">Kai Ken</option>
                <option value="Kaikadi">Kaikadi</option>
                <option value="Labrador Retriever">Labrador Retriever</option>
                <option value="Lithuanian Hound">Lithuanian Hound</option>
                <option value="Maltese">Maltese</option>
                <option value="Mountain Cur">Mountain Cur</option>
                <option value="New Zealand Heading">New Zealand Heading</option>
                <option value="Otterhound">Otterhound</option>
                <option value="Papillon">Papillon</option>
                <option value="Patagonian Sheepdog">Patagonian Sheepdog</option>
                <option value="Pekingese">Pekingese</option>
                <option value="Pointer">Pointer</option>
                <option value="Poitevin">Poitevin</option>
                <option value="Poodle">Poodle</option>
                <option value="Pudelpointer">Pudelpointer</option>
                <option value="Pug">Pug</option>
                <option value="Pungsan">Pungsan</option>
                <option value="Rottweiler">Rottweiler</option>
                <option value="Russian Spaniel">Russian Spaniel</option>
                <option value="Ryukyu Inu">Ryukyu Inu</option>
                <option value="Shiba Inu">Shiba Inu</option>
                <option value="Shih Tzu">Shih Tzu</option>
                <option value="Siberian Husky">Siberian Husky</option>
                <option value="Taigan">Taigan</option>
                <option value="Tamaskan Dog">Tamaskan Dog</option>
                <option value="Weimaraner">Weimaraner</option>
                <option value="Welsh Sheepdog">Welsh Sheepdog</option>
                <option value="Whippet">Whippet</option>
                <option value="Yakultian Laika">Yakultian Laika</option>
                <option value="Other">Other</option>
              </select>

              <div class="radioButton" style="margin-top:10px; margin-bottom:10px;">
                <label>Size : </label>
                <label><input style="margin-left:10px;" type="radio" name="dogsSize1" value="small">Small</label>
                <label><input style="margin-left:10px;" type="radio" name="dogsSize1" value="medium">Medium</label>
                <label><input style="margin-left:10px;" type="radio" name="dogsSize1" value="big">Big</label>
              </div>

            <%  function maxDate() { %>
            <%  var d = new Date(); %>
            <%  var month = '' + (d.getMonth() + 1); %>
            <%  var day = '' + d.getDate(); %>
            <%  var year = d.getFullYear();%>

          <%    if (month.length < 2){%>
          <%        month = '0' + month;%>
          <%      }%>
          <%    if (day.length < 2){%>
          <%        day = '0' + day;%>
          <%      }%>

          <%    return [year, month, day].join('-');%>
          <%    }%>

        <%   var max = maxDate(); %>


              <input type="number" class="form-control" id="dogsWeight" placeholder="Weight (in kg)" name="dogsWeight1" style="width:25%">
              <label for="dogsDateOfBirth" class="form-label">Please choose the date of birth of your dog <%- max %></label>
              <input type="date" class="form-control" id="dogsDateOfBirth" name="dogsDateOfBirth1" style="width:25%" max=<%- max %> >

              <div class="form-group">
              <input type="text" style="display:none;" class="form-control" id="imageURI1"  name="imageURI1" value="">
              <label for="dogsImage" class="form-label">Please upload your dog image</label>
              <br>
              <input type="file" class="form-input" id="dogsImage" name="dogsImage1" onchange="loadFile(event, 1)" />
              <br>
              <img id="output1" class="dogImage" />
              </div>
            </div>
          </div>
          <a style="padding-left: 475px;" onclick="addDog()"><i class="fas fa-plus-circle fa-3x" title="Click to add more dog"></i></a>
          <a  onclick="removeDog()"><i class="fas fa-minus-circle fa-3x" title="Click to remove one dog"></i></a>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" style="width:80%">
          <input type="number" style="display:none;" class="form-control" id="numberOfDogs"  name="numberOfDogs" value="">
        </div>

        <button type="submit" class="btn btn-primary" onclick="assignNumberOfDogs()">Register</button>
        <a class="btn btn-outline-primary" href="/login" role="button">Cancel</a>
      </form>

      <p style="color : red"><%= errorMessage %></p>

    </div>
  </div>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
  <script src="/index.js" charset="utf-8"></script>


  <%- include('footer') %>
