<%- include("topBar") -%>

<!-- Content Column -->
<div class="col-lg-12 mb-4">

  <!-- Project Card Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Trainers</h6>
    </div>
    <div class="card-body">

      <% for(var i=0; i < results.length ; i++){ %>
      <%  if(results[i].username === user.username){ %>
        <%  continue; %>
    <%    }else{ %>
        <h4 class="small font-weight-bold">
          Username : <%= results[i].username %> <br />
          Name : <%= results[i].name %> <br /><br / />
          My city is <%= results[i].city %> and the suburb is <%- results[i].suburb %> .
          <span class="float-right">
            <a href="/trainers/<%= results[i]._id %>">Find Out more...</a>
          </span></h4>
        <hr class="card-divider">
      <% } %>
      <% } %>


    </div>
  </div>
</div>


<%- include("bottomBar") -%>
