<%- include("topBar") -%>

<!-- Begin Page Content -->
<div class="container-fluid">


  <!-- Page Heading -->
    <%   if(user.type === "Dog Owner"){ %>
  <form name="profileForm" action="/updateProfile" method="POST" autocomplete="off" onsubmit="return validateProfileForm('<%- user.type %>',<%- dogs.length %>)" required>
    <%  }else{ %>
  <form name="profileForm" action="/updateProfile" method="POST" autocomplete="off" onsubmit="return validateProfileForm('<%- user.type %>',0)" required>
    <%  } %>
    <div class="form-group">

      <div class="form-group">
        <label for="NameInput">Name</label>
        <input type="text" class="form-control" maxlength="30" id="NameInput" style="width:80%" placeholder="<%- user.name %>" name="name" value="<%- user.name %>">

      </div>

      <label for="emailAddress">Email address</label>
      <input type="email" class="form-control" maxlength="30" id="emailAddress" style="width:80%" aria-describedby="emailHelp" placeholder="<%- user.email %>" name="emailAddress" value="<%- user.email %>">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="addressInput">Address</label>
      <input type="text" class="form-control" maxlength="100" id="addressInput" style="width:80%" placeholder="<%- user.address %>" name="address" value="<%- user.address %>">
    </div>

    <div class="form-group">
      <label for="cityInput">City</label>
      <select id="cityInput" name="city" style="width:25%" class="form-control" placeholder="<%- user.city %>" value="<%- user.city %>">
        <option disabled selected value="<%- user.city %>"> <%= user.city %> </option>
        <option value="Auckland">Auckland</option>
        <option value="Wellington">Wellington</option>
        <option value="Christchurch">Christchurch</option>
      </select>
    </div>
    <div class="form-group">
      <label for="suburbInput">Suburb</label>
      <select id="suburbInput" name="suburb" onclick="suburbSelection()" class="form-control" style="width:25%" value="<%- user.suburb %>" placeholder="<%- user.suburb %>">
        <option disabled selected value="<%- user.suburb %>"> <%= user.suburb %> </option>
      </select>
    </div>

    <% function previousDistance(distance){ %>
    <%  if(distance == 500){ %>
    <%    return 1; %>
    <%  }else if(distance == 1000){ %>
    <%    return 2; %>
    <%  }else if(distance == 1500){ %>
    <%    return 3; %>
    <%  }else if(distance == 2000){ %>
    <%    return 4; %>
    <%  }else if(distance == 2500){ %>
    <%    return 5; %>
    <%  } %>
  <%  } %>

  <%  var currentDistance = previousDistance(user.distance); %>

    <div class="form-group">
      <label for="rangeInput" class="form-label">Please specify the distance you are willing to travel</label>
        <input type="range" class="form-range " min="1" max="5" id="rangeInput" style="width:80%" onchange="rangeValue()" value="<%- currentDistance %>">
        <label class="form-label" id="distanceRange"><%= user.distance %> meters</label>
      <input type="text" class="form-control" id="distance" value="<%- user.distance %>" name="distance" style="display:none; border: none;">
    </div>

    <%   if(user.type === "Dog Owner"){ %>

        <div class="form-group dogInner" id="dogInner">



    <% for(var i = 1 ; i <= dogs.length ; i++){ %>


      <div class="form-group">
        <label for="dogName">Dog <%= i %> Name</label>
        <input type="text" class="form-control" id="dogName" maxlength="30" style="width:80%" placeholder="<%- dogs[i-1].name %>" name="dogsName<%- i%>" value="<%- dogs[i-1].name %>">
        <label for="dogsBreed">Breed</label>
        <select id="dogBreed" name="dogsBreed<%- i %>" class="form-control" style="width:25%" placeholder="Breed" style="width:25%" placeholder="<%- dogs[i-1].breed %>">
          <option disabled selected="selected" value="<%- dogs[i-1].breed %>"> <%= dogs[i-1].breed %> </option>
          <option value="Affenpinscher">Affenspinscher</option>
          <option value="Afghan Hound">Afghan Hound</option>
          <option value="Africanis">Africanis</option>
          <option value="Akita">Akita</option>
          <option value="American Bulldog">American Bulldog</option>
          <option value="Basque Shepherd Dog">Basque Shepherd Dog</option>
          <option value="Basset Hound">Basset Hound</option>
          <option value="Bichon Frise">Bichon Frise</option>
          <option value="Bohemian Shepherd">Bohemian Shepherd</option>
          <option value="Bulldog">Bulldog</option>
          <option value="Carolina Dog">Carolina Dog</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="Dalmatian">Dalmatian</option>
          <option value="Dingo">Dingo</option>
          <option value="Dobermann">Dobermann</option>
          <option value="Drever">Drever</option>
          <option value="Dunker">Dunker</option>
          <option value="English Mastiff">English Mastiff</option>
          <option value="English Shepherd">English Shepherd</option>
          <option value="Estonian Hound">Estonian Hound</option>
          <option value="Finnish Hound">Finnish Hound</option>
          <option value="French Bulldog">French Bulldog</option>
          <option value="German Hound">German Hound</option>
          <option value="German Shepherd">German Shepherd</option>
          <option value="Himalayan Sheepdog">Himalayan Sheepdog</option>
          <option value="Hierran Wolfdog">Hierran Wolfdog</option>
          <option value="Indian Spitz">Indian Spitz</option>
          <option value="Italian Greyhound">Italian Greyhound</option>
          <option value="Japanese Spitz">Japanese Spitz</option>
          <option value="Kai Ken">Kai Ken</option>
          <option value="Kaikadi">Kaikadi</option>
          <option value="Labrador Retriever">Labrador Retriever</option>
          <option value="Lithuanian Hound">Lithuanian Hound</option>
          <option value="Maltese">Maltese</option>
          <option value="Mountain Cur">Mountain Cur</option>
          <option value="New Zealand Heading">New Zealand Heading</option>
          <option value="Otterhound">Otterhound</option>
          <option value="Papillon">Papillon</option>
          <option value="Patagonian Sheepdog">Patagonian Sheepdog</option>
          <option value="Pekingese">Pekingese</option>
          <option value="Pointer">Pointer</option>
          <option value="Poitevin">Poitevin</option>
          <option value="Poodle">Poodle</option>
          <option value="Pudelpointer">Pudelpointer</option>
          <option value="Pug">Pug</option>
          <option value="Pungsan">Pungsan</option>
          <option value="Rottweiler">Rottweiler</option>
          <option value="Russian Spaniel">Russian Spaniel</option>
          <option value="Ryukyu Inu">Ryukyu Inu</option>
          <option value="Shiba Inu">Shiba Inu</option>
          <option value="Shih Tzu">Shih Tzu</option>
          <option value="Siberian Husky">Siberian Husky</option>
          <option value="Taigan">Taigan</option>
          <option value="Tamaskan Dog">Tamaskan Dog</option>
          <option value="Weimaraner">Weimaraner</option>
          <option value="Welsh Sheepdog">Welsh Sheepdog</option>
          <option value="Whippet">Whippet</option>
          <option value="Yakultian Laika">Yakultian Laika</option>
          <option value="Other">Other</option>
        </select>


        <% if(dogs[i-1].size === "small"){ %>
        <div class="radioButton" style="margin-top:10px; margin-bottom:10px;">
          <label>Dog's Size : </label>
          <label><input style="margin-left:10px;" type="radio" name="dogsSize<%- i %>" value="small" checked="checked">Small</label>
          <label><input style="margin-left:10px;" type="radio" name="dogsSize<%- i %>" value="medium">Medium</label>
          <label><input style="margin-left:10px;" type="radio" name="dogsSize<%- i %>" value="big">Big</label>
        </div>
        <%  }else if(dogs[i-1].size === "medium"){ %>
        <div class="radioButton" style="margin-top:10px; margin-bottom:10px;">
          <label>Dog's Size : </label>
          <label><input style="margin-left:10px;" type="radio" name="dogsSize<%- i %>" value="small">Small</label>
          <label><input style="margin-left:10px;" type="radio" name="dogsSize<%- i %>" value="medium" checked="checked">Medium</label>
          <label><input style="margin-left:10px;" type="radio" name="dogsSize<%- i %>" value="big">Big</label>
        </div>
        <% }else{ %>
        <div class="radioButton" style="margin-top:10px; margin-bottom:10px;">
          <label>Dog's Size : </label>
          <label><input style="margin-left:10px;" type="radio" name="dogsSize<%- i %>" value="small">Small</label>
          <label><input style="margin-left:10px;" type="radio" name="dogsSize<%- i %>" value="medium">Medium</label>
          <label><input style="margin-left:10px;" type="radio" name="dogsSize<%- i %>" value="big" checked="checked">Big</label>
        </div>
        <%}%>

        <label for="dogWeight">Dog's Weight</label>
        <input type="text" class="form-control" id="dogWeight" placeholder="Weight = <%- dogs[i-1].weight %>" style="width:25%" name="dogsWeight<%- i %>" value="<%- dogs[i-1].weight %>">

        <%  function maxDate() { %>
        <%  var d = new Date(); %>
        <%  var month = '' + (d.getMonth() + 1); %>
        <%  var day = '' + d.getDate(); %>
        <%  var year = d.getFullYear();%>

      <%    if (month.length < 2){%>
      <%        month = '0' + month;%>
      <%      }%>
      <%    if (day.length < 2){%>
      <%        day = '0' + day;%>
      <%      }%>

      <%    return [year, month, day].join('-');%>
      <%    }%>

    <%   var max = maxDate(); %>


        <label for="dogAge">Dog's date of birth</label>
        <input type="date" class="form-control" id="dogsDateOfBirth" max="<%- max %>" placeholder="<%- dogsDOB[i-1] %>" style="width:25%" name="dogsDateOfBirth<%- i %>" value="<%- dogsDOB[i-1] %>">

        <input type="text" style="display:none;" class="form-control" id="imageURI<%- i %>"  name="imageURI<%- i %>" value="">
        <label for="dogsImage" class="form-label">Please upload your new dog image if you want to change current image</label>
        <br>
        <input type="file" class="form-input" id="dogsImage" name="dogsImage<%- i %>" onchange="loadFile(event, <%- i %>)" />
        <br>
        <img id="output<%- i %>" class="dogImage" src="https://res.cloudinary.com/woof2021/image/upload/dogsImage/<%- dogs[i-1]._id %>.png" alt="No image Provided"/>
      </div>
      <hr>

  <%  } %>
  </div>

    <a style="padding-left: 700px;" onclick="addNewDog(<%-dogs.length%>)"><i class="fas fa-plus-circle fa-3x" title="Click to add more dog"></i></a>
    <a  onclick="removeNewDog(<%-dogs.length%>)"><i class="fas fa-minus-circle fa-3x" title="Click to remove one dog"></i></a><br>





    <%   }else{ %>
      <div class="form-group" id="preferenceForm">
        <label for="preferenceInput">Preference</label><br/>
        <div id="preferenceInput" class="dropdown-check-list" tabindex="100">
          <span class="anchor" onclick="dropdownChecklistUpdateProfile(<%= JSON.stringify(user.preference) %>)">Select Preferences</span>
          <ul class="items">
            <li><input type="checkbox" name="preferences[]" value="Affenpinscher"/>Affenpinscher </li>
            <li><input type="checkbox" name="preferences[]" value="Afghan Hound"/>Afghan Hound</li>
            <li><input type="checkbox" name="preferences[]" value="Africanis"/>Africanis </li>
            <li><input type="checkbox" name="preferences[]" value="Akita"/>Akita </li>
            <li><input type="checkbox" name="preferences[]" value="American Bulldog"/>American Bulldog </li>
            <li><input type="checkbox" name="preferences[]" value="Basque Shepherd Dog"/>Basque Shepherd Dog </li>
            <li><input type="checkbox" name="preferences[]" value="Basset Hound"/>Basset Hound</li>
            <li><input type="checkbox" name="preferences[]" value="Bichon Frise"/>Bichon Frise</li>
            <li><input type="checkbox" name="preferences[]" value="Bohemian Shepherd"/>Bohemian Shepherd </li>
            <li><input type="checkbox" name="preferences[]" value="Bulldog"/>Bulldog</li>
            <li><input type="checkbox" name="preferences[]" value="Carolina Dog"/>Carolina Dog </li>
            <li><input type="checkbox" name="preferences[]" value="Chihuahua"/>Chihuahua </li>
            <li><input type="checkbox" name="preferences[]" value="Dalmatian"/>Dalmatian </li>
            <li><input type="checkbox" name="preferences[]" value="Dingo"/>Dingo </li>
            <li><input type="checkbox" name="preferences[]" value="Dobermann"/>Dobermann</li>
            <li><input type="checkbox" name="preferences[]" value="Drever"/>Drever </li>
            <li><input type="checkbox" name="preferences[]" value="Dunker"/>Dunker</li>
            <li><input type="checkbox" name="preferences[]" value="English Mastiff"/>English Mastiff </li>
            <li><input type="checkbox" name="preferences[]" value="English Shepherd"/>English Shepherd </li>
            <li><input type="checkbox" name="preferences[]" value="Estonian Hound"/>Estonian Hound </li>
            <li><input type="checkbox" name="preferences[]" value="Finnish Hound"/>Finnish Hound </li>
            <li><input type="checkbox" name="preferences[]" value="French Bulldog"/>French Bulldog</li>
            <li><input type="checkbox" name="preferences[]" value="German Hound"/>German Hound </li>
            <li><input type="checkbox" name="preferences[]" value="German Shepherd"/>German Shepherd</li>
            <li><input type="checkbox" name="preferences[]" value="Himalayan Sheepdog"/>Himalayan Sheepdog </li>
            <li><input type="checkbox" name="preferences[]" value="Hierran Wolfdog"/>Hierran Wolfdog </li>
            <li><input type="checkbox" name="preferences[]" value="Indian Spitz"/>Indian Spitz </li>
            <li><input type="checkbox" name="preferences[]" value="Italian Greyhound"/>Italian Greyhound </li>
            <li><input type="checkbox" name="preferences[]" value="Japanese Spitz"/>Japanese Spitz</li>
            <li><input type="checkbox" name="preferences[]" value="Kai Ken"/>Kai Ken </li>
            <li><input type="checkbox" name="preferences[]" value="Kaikadi"/>Kaikadi</li>
            <li><input type="checkbox" name="preferences[]" value="Labrador Retriever"/>Labrador Retriever </li>
            <li><input type="checkbox" name="preferences[]" value="Lithuanian Hound"/>Lithuanian Hound </li>
            <li><input type="checkbox" name="preferences[]" value="Maltese"/>Maltese </li>
            <li><input type="checkbox" name="preferences[]" value="Mountain Cur"/>Mountain Cur </li>
            <li><input type="checkbox" name="preferences[]" value="New Zealand Heading"/>New Zealand Heading</li>
            <li><input type="checkbox" name="preferences[]" value="Otterhound"/>Otterhound </li>
            <li><input type="checkbox" name="preferences[]" value="Papillon"/>Papillon </li>
            <li><input type="checkbox" name="preferences[]" value="Patagonian Sheepdog"/>Patagonian Sheepdog </li>
            <li><input type="checkbox" name="preferences[]" value="Pekingese"/>Pekingese </li>
            <li><input type="checkbox" name="preferences[]" value="Pointer"/>Pointer</li>
            <li><input type="checkbox" name="preferences[]" value="Poitevin"/>Poitevin </li>
            <li><input type="checkbox" name="preferences[]" value="Poodle"/>Poodle</li>
            <li><input type="checkbox" name="preferences[]" value="Pudelpointer"/>Pudelpointer </li>
            <li><input type="checkbox" name="preferences[]" value="Pug"/>Pug </li>
            <li><input type="checkbox" name="preferences[]" value="Pungsan"/>Pungsan </li>
            <li><input type="checkbox" name="preferences[]" value="Rottweiler"/>Rottweiler </li>
            <li><input type="checkbox" name="preferences[]" value="Russian Spaniel"/>Russian Spaniel</li>
            <li><input type="checkbox" name="preferences[]" value="Ryukyu Inu"/>Ryukyu Inu</li>
            <li><input type="checkbox" name="preferences[]" value="Shiba Inu"/>Shiba Inu </li>
            <li><input type="checkbox" name="preferences[]" value="Shih Tzu"/>Shih Tzu</li>
            <li><input type="checkbox" name="preferences[]" value="Siberian Husky"/>Siberian Husky </li>
            <li><input type="checkbox" name="preferences[]" value="Taigan"/>Taigan </li>
            <li><input type="checkbox" name="preferences[]" value="Tamaskan Dog"/>Tamaskan Dog </li>
            <li><input type="checkbox" name="preferences[]" value="Weimaraner"/>Weimaraner </li>
            <li><input type="checkbox" name="preferences[]" value="Welsh Sheepdog"/>Welsh Sheepdog</li>
            <li><input type="checkbox" name="preferences[]" value="Whippet"/>Whippet </li>
            <li><input type="checkbox" name="preferences[]" value="Yakultian Laika"/>Yakultian Laika </li>
            <li><input type="checkbox" name="preferences[]" value="Other"/>Other</li>
          </ul>
        </div>
      </div>
      <%  } %>


    <% if(success != null){ %>
    <% if(!success){ %>
    <p>Error updating fields</p>
    <% }else{ %>
    <p>Fields updated Successfully</p>
    <% } %>
    <% } %>

    <input type="number" style="display:none;" class="form-control" id="numberOfNewDogs"  name="numberOfNewDogs" value="">

    <%if(user.type == "Trainer"){ %>
      <button type="submit" class="btn btn-primary">Save</button>
    <%}else{ %>
      <button type="submit" class="btn btn-primary" onclick="assignNewNumberOfDogs(<%-dogs.length%>)">Save</button>
    <%} %>

    <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>

    <a class="btn btn-danger" style="margin-left:50px;" href="#" data-toggle="modal" data-target="#deleteAccount">
      Cancel Account
    </a>
  </form>




</div>

<!-- /.container-fluid -->
<%- include("bottomBar") -%>
