<%- include("topBar") -%>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <form action="/updateProfile" method="POST" autocomplete="off">
                      <div class="form-group">

                        <div class="form-group">
                          <label for="NameInput">Name</label>
                          <input type="text" class="form-control" id="NameInput" placeholder="<%- user.name %>" name="name" value="<%- user.name %>">

                        </div>

                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="<%- user.email %>" name="emailAddress" value="<%- user.email %>">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>

                      <div class="form-group">
                        <label for="addressInput">Address</label>
                        <input type="text" class="form-control" id="addressInput" placeholder="<%- user.address %>" name="address" value="<%- user.address %>">
                      </div>
                      <div class="form-group">
                        <label for="suburbInput">Suburb</label>
                        <input type="text" class="form-control" id="suburbInput" placeholder="<%- user.suburb %>" name="suburb" value="<%- user.suburb %>">
                      </div>

                    <%   if(user.type === "Dog Owner"){ %>
                        <div class="form-group">
                          <label for="dogName">Dog's Name</label>
                          <input type="text" class="form-control" id="dogName" placeholder="<%- dogs[0].name %>" name="dogsName" value="<%- dogs[0].name %>">
                          <label for="dogBreed">Dog's Breed</label>
                          <input type="text" class="form-control" id="dogBreed" placeholder="<%- dogs[0].breed %>" name="dogsBreed" value="<%- dogs[0].breed %>">
                          <input type="text" class="form-control" id="dogSize" placeholder="Size = <%- dogs[0].size %>" name="dogsSize" value="<%- dogs[0].size %>">

                          <% if(dogs[0].size === "small"){ %>
                            <div class="radioButton" style="margin-top:10px; margin-bottom:10px;">
                              <label>Dog's Size : </label>
                              <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="small" checked="checked">Small</label>
                              <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="medium">Medium</label>
                              <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="big">Big</label>
                            </div>
                        <%  }else if(dogs[0].size === "medium"){ %>
                            <div class="radioButton" style="margin-top:10px; margin-bottom:10px;">
                              <label>Dog's Size : </label>
                              <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="small">Small</label>
                              <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="medium" checked="checked">Medium</label>
                              <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="big">Big</label>
                            </div>
                          <% }else{ %>
                            <div class="radioButton" style="margin-top:10px; margin-bottom:10px;">
                              <label>Dog's Size : </label>
                              <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="small">Small</label>
                              <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="medium">Medium</label>
                              <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="big" checked="checked">Big</label>
                            </div>
                          <%}%>

                          <label for="dogWeight">Dog's Weight</label>
                          <input type="text" class="form-control" id="dogWeight" placeholder="Weight = <%- dogs[0].weight %>" name="dogsWeight" value="<%- dogs[0].weight %>">
                          <label for="dogAge">Dog's Age</label>
                          <input type="text" class="form-control" id="dogAge" placeholder="Age = <%- dogs[0].age %>" name="dogsAge" value="<%- dogs[0].age %>">
                        </div>
                    <%   } %>


                      <% if(success != null){ %>
                        <% if(!success){ %>
                          <p>Error updating fields</p>
                        <% }else{ %>
                          <p>Fields updated Successfully</p>
                        <% } %>
                      <% } %>

                      <button type="submit" class="btn btn-primary">Update</button>
                      <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
                    </form>


                </div>
                <!-- /.container-fluid -->
<%- include("bottomBar") -%>
