<%- include("topBar") -%>

<!-- Content Column -->
<div class="col-lg-12 mb-4">

  <!-- Project Card Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%-foundGroup[0].name%></h6>
    </div>

    <div class="card-body">


    <div>
      <label>Admin</label>
      <input type="text" class="form-control" id="admin" style="width:15%" name="admin" value="<%-admin%>" readonly>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" style="width:80%" name="description" value="<%-foundGroup[0].description%>" readonly>
    </div>

    <div class="form-group">
      <label for="member">Member</label>
      <nav>
        <ul style="height:200px;width:18%;overflow:auto;">
          <%  for(var i=0 ; i < member.length ; i++){ %>
              <li><%-member[i]%></li>
          <%  } %>
        </ul>
      </nav>
    </div>
    <a class="btn btn-primary" href="/">OK</a>

</div>
  </div>
</div>

<script src="/index.js" charset="utf-8"></script>
<%- include("bottomBar") -%>
